{% extends 'base_template.html' %}

{% block content %}
<div class="row content">
    <div class="col-sm-12 text-left">
        <h1>Showing tracks for "{{ artist_name }}" artist</h1>
        {% for track in tracks %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ track.name }}</div>
            <div class="panel-body">
                <audio controls>
                    <source src="{{ track.preview_url }}">
                </audio>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
